@using RapidAPIExample.Models
@model List<MovieViewModel.MovieResult>

<table class="mt-4 table table-hover">
    <thead>
        <tr>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.title</th>
                <th>@item.year</th>
                <th>@item.imdb_id</th>


            </tr>
        }

    </tbody>

</table>